:root {
    --black: #222222;
    --grey: #717171;
    --light-grey: #d9d8d8;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Circular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.pd-tb {
    padding: 1rem 0;
}

.small-heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.paragraph {
    color: var(--grey);
    font-size: 15px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 0.25rem;
}


/* search bar */

#circle {
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--light-grey);
    width: 32px;
    height: 32px;
    left: 15px;
}

#settings-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#search-bar {
    box-shadow: 0px 3px 25px -18px var(--grey);
    border: 1px solid var(--light-grey);
    border-radius: 30px;
}

#search-bar-div {
    padding: 0.375rem 1.5rem;
}

#search-text-div {
    margin-left: 1rem;
}

#sub-search-text {
    font-size: 12px;
    color: var(--grey);
}
