:root {
    --pink: #FD5C63;
    --black: #222222;
    --grey: #717171;
    --light-grey: #d9d8d8;
    --su-sm-heading: 1rem;
    --su-heading: 1.5rem;
    --su-paragraph: 1.1rem;
    --su-sm-paragraph: 0.8rem;
    --su-bt-bg: radial-gradient(circle at center, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
    --m-0: 0.25rem;
    --m-1: 0.5rem;
    --m-12: 0.75rem;
    --m-2: 1rem;
    --m-3: 1.25rem;
    --m-4: 1.5rem;
    --m-5: 1.75rem;
    --m-6: 2rem;
    --p-1: 0.5rem;
    --p-2: 1rem;
    --p-3: 1.25rem;
    --p-4: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    appearance: none;
}

/* button:disabled {
    background-image: radial-gradient(circle at center, #d2d2d2, #d2d2d2)
} */

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Circular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: unset;
    cursor: pointer;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pd-tb {
    padding: 1rem 0;
}

.sub-heading {
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
}

.small-heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.paragraph {
    color: var(--grey);
    font-size: 15px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}

.navbar {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-grey);
}

.navbar input {
    box-shadow: 0px 3px 15px -10px var(--grey);
}

.translate {
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

/* search bar */

#circle {
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--light-grey);
    width: 32px;
    height: 32px;
    left: 15px;
}

#logo-div {
    display: none;
}

#nav-btn-group {
    display: none;       
}

#settings-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#search-bar {
    box-shadow: 0px 3px 15px -10px var(--grey);
    border: 1px solid var(--light-grey);
    border-radius: 30px;
}

#search-bar-div {
    padding: 0.5rem 1.5rem;
}

#search-text-div {
    margin-left: 1rem;
}

#sub-search-text {
    font-size: 12px;
    color: var(--grey);
}

.slider-div {
    display: flex;
    flex-direction: column;
}

.image-style {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 4 / 3.5;
}

section ::-webkit-scrollbar {
    display: none;
}

#getaways {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    gap: 1.25rem;
    margin-top: 2rem;
}

@media screen and (min-width: 550px) {
    #house-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.25rem;
    }
}

@media screen and (min-width: 950px) {
    #house-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        align-items: center;
    }

    .nav-flex-div {
        flex-basis: 100%;
    }

    #logo-div {
        display: unset;
    }
    
    #nav-btn-group {
        display: unset;
    }

    #new-search-bar {
        flex-basis: 150%;
        max-width: 550px;
        min-width: 550px;
    }

    .toggler-container {
        max-width: 550px;
        min-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1330px) {
    #house-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1640px) {
    #house-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1880px) {
    #house-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 2200px) {
    .container {
        max-width: 2100px;
    }
}

/* signin */

.su-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.su-sm-heading {
    font-size: var(--su-sm-heading);
    font-weight: 600;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}

.su-heading {
    font-size: var(--su-heading);
    font-weight: 600;
    padding-top: 2rem;
}

.form-group {
    margin-top: 1.5rem;
}

.form-group div {
    position: relative;
}

.form-group select, .form-group input{
    width: 100%;
    padding: 1rem 0.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #a3a3a3;
}

.form-group select {
    border-bottom: 0;
}

.su-paragraph {
    font-size: var(--su-paragraph);
}

.su-sm-paragraph {
    font-size: var(--su-sm-paragraph);
    margin-top: 0.25rem;
}

.su-bt-bg {
    background-image: var(--su-bt-bg);
    border: none;
    color: white;
    font-size: var(--su-paragraph);
    font-weight: 500;
    padding: 0.85rem 0;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

/* listing page */

.listing-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.listing-img {
    aspect-ratio: 16 / 9;
    width: 100%;
}

#house-info-div {
    margin-top: 0.25rem;
}

#house-identity-div {
    display: flex;
    justify-content: space-between;
}

#house-name-div {
    flex-basis: 70%;
}

#house-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
}

#house-price-div {
    text-align: right;
    flex-basis: 30%;
}

#house-price {
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

#house-price span {
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    right: 0;
    top: 24px;
}

#house-location-div {
    color: var(--grey);
}

#house-rating-div img {
    width: 72px;
}

#house-description-div {
    margin-top: 0.5rem;
}

#house-description {
    color: var(--grey);
    line-height: 1.3;
}

#reserve-button-div {
    margin-top: 0.5rem;
}

@media screen and (min-width: 1300px) {
    .listing-container {
        max-width: 1200px;
    }
}